#mobile-header {
    display: none;
}
@media only screen and (max-width: 767px){
    #mobile-header {
        display: block;
    }
}
.map-container #map
{
    height: 100%;
    width: 100%;
    position: fixed;
}
.map-container
{
    height: 100%;
    width: 100%;
    position: fixed;
}